.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.74); /* Semi-transparent background */
    z-index: 8888; /* Adjust the z-index as needed */
    
  }
  
  .edit-popup {
    position: absolute;
    top: 50%; /* Adjust this value to center the popup vertically */
    left: 50%; /* Adjust this value to center the popup horizontally */
    transform: translate(-50%, -50%);
    background: white;
    z-index: 9999; /* Ensure it's on top of the overlay */
    padding: 50px;
    display: flex;
    flex-direction: column;
  }


.fc {
    margin-top: 70px !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
    height: 80vh !important;
    
}
.event-card{
   width: 100%;
   border-radius: 10px;
   padding-bottom: 5px;}

.row {
   text-align: left;
   padding: 10px;
   padding-bottom: 0px;
   display: flex;
   justify-content: flex-start;
   column-gap: 15px;
   margin-bottom: 0px;
   
    }

.row h3{
   margin-top:0px
}
 
.fc-daygrid-day-frame {
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   height: 150px;
}



/*scroll bar and whatnot*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 3px; 
}





.fc-daygrid-event-harness a {
   height: 40px;
   margin-bottom: 5px;
    
 }

 .hideEvent {
   
    display: none !important;
    background-color: rgba(0, 0, 0, 0.39) !important;
 }


 .showEvent {
    display: contents !important;
 }

 .linkBox {
   width: 100%;
   overflow: hidden;
 }

 
 /* body {
    background-image: 
        linear-gradient(45deg, red, yellow),
        linear-gradient(135deg, yellow, green),
        linear-gradient(225deg, green, blue),
        linear-gradient(315deg, blue, red);
    background-attachment: fixed;
    
   
 }

 .fc-media-screen {
    background-color: rgb(0, 255, 13);
    border-radius: 15px;
 } */