button {
    text-transform: capitalize !important;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Adjust the z-index as needed */
  }
  
  .edit-popup {
    position: absolute;
    top: 50%; /* Adjust this value to center the popup vertically */
    left: 50%; /* Adjust this value to center the popup horizontally */
    transform: translate(-50%, -50%);
    background: white;
    z-index: 1001; /* Ensure it's on top of the overlay */
  }