:root { 
    background-color: #FCF8EB;
} 
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-container h1 {
    color: #073B4C;
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 100px ;
    padding-right: 100px ;
    border-radius: 200px;
}

.login-container input,.login-container button,.login-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
}

.login-container input {
     border: 1px solid #ccc;
    border-radius: 4px; 
}

.login-container button {
    /* background-color: #007bff;  */
    color: #fff;
    border: none;
    background-color: #E35734;
    border-radius: 400px;   
    cursor: pointer;
}




.login-container button:hover {
    background-color: #6E1802; 
}
